<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.john.myapplication">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- 悬浮框权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 允许访问摄像头进行拍照 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--数据库-->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Store.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"/>
        <meta-data
            android:name="AA_MODELS"
            android:value="com.john.myapplication.bean.Category,
            com.john.myapplication.bean.Category.Item" />

        <!--autoLayout屏幕适配 设计尺寸  start-->
        <meta-data
            android:name="design_width" android:value="768">
        </meta-data>
        <meta-data
            android:name="design_height" android:value="1280">
        </meta-data>
        <!--autoLayout屏幕适配 设计尺寸  end-->


        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--动态图片修改-->
        <activity-alias
            android:name=".Test11"
            android:enabled="false"
            android:icon="@mipmap/s11"
            android:targetActivity="com.john.myapplication.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Test12"
            android:enabled="false"
            android:icon="@mipmap/s12"
            android:targetActivity="com.john.myapplication.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity android:name=".activity.KotlinAndDataBindingActivity"/>
        <activity android:name=".activity.DatabindingRecyclerActivity"/>
        <activity android:name=".activity.DatabindingListViewActivity"/>

        <!--检查升级 下载服务-->
        <service android:name="com.qiangxi.checkupdatelibrary.service.DownloadService"/>

        <!--悬浮窗 服务-->
        <service android:name="com.john.librarys.floatwindow.FloatWindowService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.john.librarys"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/checkupdatelibrary_uri_grant"/>
        </provider>
    </application>

</manifest>